/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }
	
	.container .holder .one-third.column		{ width: 299px; }

    /* Base Grid with Sidebar */
	
    #content .four.columns                    { width: 125px; } /**/
	#content .eight.columns                   { width: 270px; } /**/
    #content .ten.columns                     { width: 415px; } /**/
    
    #content .twelve.columns                  { width: 415px; } /**/
    #content  .sixteen.columns                { width: 580px; } /**/

    #content .one-third.column                { width: 173px; } /**/
    #content .two-thirds.column               { width: 367px; } /**/
	
	
	#content #portfolio-items.pl-col-1 .ten.columns,
	#content #portfolio-items.pl-col-1 .six.columns {width: 96%; float: none; display: block;}
	
	#content #portfolio-items.pl-col-2  .eight.columns  {width: 270px;}
	
	
	#content .image-gallery-slider.eight.columns {width: 460px;}

/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 748px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 167px; }
        .container .five.columns                    { width: 215px; }
        .container .six.columns                     { width: 258px; }
        .container .seven.columns                   { width: 306px; }
        .container .eight.columns                   { width: 354px; }
        .container .nine.columns                    { width: 402px; }
        .container .ten.columns                     { width: 450px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 541px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 740px; }

        .container .one-third.column                { width: 229px; }
        .container .two-thirds.column               { width: 479px; }
	
		#content .four.columns                    { width: 92px; } /**/
		#content .eight.columns                   { width: 205px; } /**/
		#content .ten.columns                     { width: 415px; } /**/

		#content .twelve.columns                  { width: 318px; } /**/
		#content  .sixteen.columns                { width: 450px; } /**/

		#content .one-third.column                { width: 130px; } /**/
		#content .two-thirds.column               { width: 280px; } /**/
		
		.container .holder .one-third.column		{ width: 229px; }
		
		#content #portfolio-items.pl-col-2  .eight.columns  {width: 205px;}

    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 280px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 280px; }
		
		#content .four.columns                    { width: 280px; } /**/
		#content .eight.columns                   { width: 280px; } /**/
		#content .ten.columns                     { width: 280px; } /**/

		#content .twelve.columns                  { width: 280px; } /**/
		#content  .sixteen.columns                { width: 280px; } /**/

		#content .one-third.column                { width: 280px; } /**/
		#content .two-thirds.column               { width: 280px; } /**/	
		
		#content #portfolio-items.pl-col-2  .eight.columns  {width: 280px;}
		
		.container .holder .one-third.column		{ width: 280px; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
		
		#content .four.columns                    { width: 420px; } /**/
		#content .eight.columns                   { width: 420px; } /**/
		#content .ten.columns                     { width: 420px; } /**/

		#content .twelve.columns                  { width: 420px; } /**/
		#content  .sixteen.columns                { width: 420px; } /**/

		#content .one-third.column                { width: 420px; } /**/
		#content .two-thirds.column               { width: 420px; } /**/	
		
		#content #portfolio-items.pl-col-2  .eight.columns  {width: 420px;}
		
		.container .holder .one-third.column		{ width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
